<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<script>
			$(document).ready(function(){
				$('#btn-cadastrar').click(function(){
					window.location.href = '/cadastro';
				});
			});
		</script>
	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<% if(dados.length > 0){ %>
					<div class="alert alert-danger">
						<strong>Atenção</strong>
						<ul>
							<% for(var i = 0; i < dados.length; i++){ %>
								<li><%= dados[i].msg %></li>
							<% } %>
						</ul>
					</div>
				<% } %>
			</div>
			<div class="container">
				<form class="form-inline form-entrar" action="/autenticar" method="POST">
					<div class="form-group">				
						<input type="text" name="usuario" id="usuario" placeholder="Usuário" class="form-control" autocomplete="off" name="usuario" />
						<input type="password" name="senha" id="senha" placeholder="Senha" class="form-control" name="senha"/>
						<button  class="btn btn-success" type="submit">Entrar</button>
						<button type="button" class="btn btn-info" id="btn-cadastrar">Cadastro</button>
					</div>
				</form>
			</div>
			
		</nav>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-2"></div>

	    		<div class="col-md-8">
					<img src="images/game_of_thrones_logo.jpg" />
				</div>

	    		<div class="col-md-2"></div>
		    	</div>
	    	</div>
	    </div>	
		
	</body>
</html>